.logo {
    height: 200px;
    /* width: 300px; */
}

.button {
    padding: 2em;
    background-color: darkcyan;
    color: white;
    border-radius: 20px;
    transition-duration: 0;
}

.button:hover{
    background-color: pink;
    color:black;
}